<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- COMMON TAGS -->
    <title>{{{title}}}</title>
    <!-- Search Engine -->
    <meta name="description" content="Food delivery for schools.">
    <meta name="image" content="https://swoopit.xyz/favicon.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{{title}}}">
    <meta name="google-signin-client_id"
          content="396697495271-ol2niqtfo75sbd27mit9d13r74v63ffo.apps.googleusercontent.com">
    <meta itemprop="description" content="Food delivery for schools.">
    <meta itemprop="image" content="https://swoopit.xyz/favicon.png">
    <!-- Mobile App for Android -->
    <meta name="google-play-app" content="app-id=com.swoopit.android">
    <!-- OpenGraph Tags -->
    <meta name="og:title" content="{{{title}}}"/>
    <meta name="og:type" content="app"/>
    <meta name="og:url" content="https://swoopit.xyz"/>
    <meta name="og:image" content="https://swoopit.xyz/favicon.png"/>
    <meta name="og:site_name" content="SwoopIt"/>
    <meta name="og:description" content="Food delivery for schools"/>
    <meta name="theme-color" content="#1caeee"/>
    <!-- Google -->
    <link rel="icon" href="favicon.png">
    <!-- Apple -->
    <link rel="apple-touch-icon" href="favicon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- TODO: publish to the app store
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    -->
    <!-- Stylesheets -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <style>

    </style>
</head>
<body id="style-6">
<div class="navbar-fixed z-depth-0">
    <nav class="blue darken-1 z-depth-0">
        <div class="nav-wrapper">
            <a class="center brand-logo text-darken-1">{{{title}}}</a>
        </div>
    </nav>
</div>

{{{body}}}
<footer class="page-footer blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SwoopIt</h5>
                <p class="white-text">Website by Morgan Dean</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="login">Login</a></li>
                    <li><a class="white-text" href="privacypolicy.html">Privacy Policy</a></li>
                    <li><br></li>
                    <li><a class="white-text">Contact Us at swoopitapp@gmail.com</a></li>
                    <li><a class="white-text">Under no circumstances will we offer refunds</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" style="font-weight: normal">
            <ul>
                <li><a class="white-text">© 2018 SwoopIt</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="center" style="padding: 20px; display: none;">
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-width="300" data-height="50"
         data-longtitle="true"></div>
</div>
<!-- Javascript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/index.js"></script>
<img src="small.png" style="display: none">
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        if (window.location.pathname !== '/') {
            $('body').css('background', '#f9f9f9');
            gapi.load('auth2', function () {
                gapi.auth2.init({client_id: '396697495271-ol2niqtfo75sbd27mit9d13r74v63ffo.apps.googleusercontent.com'});
            });
        }
        if (window.location.pathname === 'admin') {
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
        }
    });
</script>
</body>
</html>